#*apollo
#*~
#.idea/*
#~*
#data/*
#*.ipynb
#.DS_Store
#keys.py
#__pycache__/*
#*#
#*#*
#*.a
#*.o
#*/__pycache__/*
#*keyfile*

*
Dockerfile
!src/
!src/tests
!src/order_book
!*.cc
!*.h
!src/Makefile

!scripts/
!*.py

!.gitignore

!external/*

